<!DOCTYPE html>
<html>
<body>

<h1>Savings Calculator</h1>

<!--<p>Please provide the following data.</p> -->

<form name="input" action="" method="post">
<table style="width:500px">
<br>
<tr>
    <td>Off Peak Rate:</td>
    <td> <input type="text" name="offPeak"></td>
</tr>
<tr>
    <td>Peak Rate Start Time (24 Hr Clock):</td>
    <td>
    <select name="startTime"> 
      <option value = "1">1</opiton>
      <option value = "2">2</opiton> 
      <option value = "3">3</opiton>
      <option value = "4">4</opiton>
      <option value = "5">5</opiton>
      <option value = "6">6</opiton>
      <option value = "7">7</opiton>
      <option value = "8">8</opiton> 
      <option value = "9">9</opiton>
      <option value = "10">10</opiton>
      <option value = "11">11</opiton>
      <option value = "12">12</opiton>
      <option value = "13">13</opiton>
      <option value = "14">14</opiton> 
      <option value = "15">15</opiton>
      <option value = "16">16</opiton>
      <option value = "17">17</opiton>
      <option value = "18">18</opiton>
      <option value = "19">19</opiton>
      <option value = "20">20</opiton> 
      <option value = "21">21</opiton>
      <option value = "22">22</opiton>
      <option value = "23">23</opiton>
      <option value = "24">24</opiton>
    <select>
    </td>
</tr>
    <tr>
    <td>Peak Rate End Time (24 Hr Clock):</td>
    <td>
    <select name="endTime"> 
      <option value = "1">1</opiton>
      <option value = "2">2</opiton> 
      <option value = "3">3</opiton>
      <option value = "4">4</opiton>
      <option value = "5">5</opiton>
      <option value = "6">6</opiton>
      <option value = "7">7</opiton>
      <option value = "8">8</opiton> 
      <option value = "9">9</opiton>
      <option value = "10">10</opiton>
      <option value = "11">11</opiton>
      <option value = "12">12</opiton>
      <option value = "13">13</opiton>
      <option value = "14">14</opiton> 
      <option value = "15">15</opiton>
      <option value = "16">16</opiton>
      <option value = "17">17</opiton>
      <option value = "18">18</opiton>
      <option value = "19">19</opiton>
      <option value = "20">20</opiton> 
      <option value = "21">21</opiton>
      <option value = "22">22</opiton>
      <option value = "23">23</opiton>
      <option value = "24">24</opiton>
    <select>
    </td>
</tr>
    <td>Peak Rate: </td> <td> <input type="text" name="peakRate"></td>
<tr>

</table>
<br>
<br>
<input type="submit" value="Submit">
</form>

</body>
</html>